  	*{
      
	padding: 0;
	margin: 0;
  box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: cursive;
}
nav{
	background-color: whitesmoke;
	height: 80px;
}
nav ul{
	float: right;
	margin-right: 25px;

}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 20px;
}
nav ul li a{
	position: relative;
	color: #3b3b3b;
	font-size: 18px;
	padding: 5px 0;
	text-transform: uppercase;
}
nav img{
	width: 200px;
	left: 12%;
	position: absolute;
	top: 17px;
}
nav ul li a:before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: black ;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
}
nav ul li a:hover:before{
	transform: scaleX(1);
	transform-origin: left;
}
nav ul li a:hover,a.active{
	background: none;
	color: black;
	font-size: 20px;
	font: bold;
	margin: 3px;
  text-decoration: underline;
}
label #btn,
label #cancel{
	font-size: 30px;
	color: darkgray;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 1118px) {
  nav img{
    left: 8%;
  }  

}
@media (max-width: 944px) {

  nav ul li a{
    font-size: 17px;
  }  
}
@media (max-width: 1030px) {
  #rcorners4, #mwehe{
    display: none;
  }
}
@media (max-width: 1300px) {
  #rcorners2, #imghline img, #sheesh{
    display: none;
  }
}
@media (max-width: 1400px) {
  #rcorners5, #mwehehe, #shee, #mweheh{
    display: none;
  }
}
@media (max-width: 860px) {
  label #btn{
    display: block;
  }
  nav ul{
    position: absolute;
    width: 100%;
    height: 60vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
  #check:checked ~ #rcorners1, #logoam img{
    display: none;
  }

  #check:checked ~ #rcorners2, #imghline img, #sheesh{
    display: none;
  }

  #check:checked ~ #eyy, #eyyy{
	display: none;
	}
	#check:checked ~ #rcorners3, #mwehee{
		display: none;
	}
	#check:checked ~ #rcorners4, #mwehe{
		display: none;
  }  
  #check:checked ~ #rcorners5, #mweheh, #shee{
  	display: none;
  }
  #check:checked ~ #secs1, #secs2{
    display: none;
  }
  #check:checked ~ .footer{
    display: none;
  }  
  #eyy, #eyyy{
    display: none;
  }
  #rcorners1, #logoam img{
    display: none;
  }
  #secs1{
    background: lightgray;
    height: 60vh;
    width: 100%;
  }
  #rcorners3, #mwehee{
    display: none;
  }


}
.mainsec{
  background: lightgray;
}
#secs1{
  background: lightgray;
  width: 100%;
}
#secs2{
  background: gray;
  margin-top: 10px;
  width: 100%;
}
.row {
  display: flex;  
}
.column {
  flex: 33.33%;
  padding: 5px;
}

#rcorners1{
  border-radius: 25px;
  padding:20px;
  background: #000000;
  margin: 20px 45px;

}
#logoam img{
  width: 650px;
  height: 380px;

}
#rcorners2{
  border-radius: 25px;
  padding:20px;
  background: #000000;
  margin-top: 20px;
}

#imghline img{
  width: 630px;
  height: 250px;
  margin-top: 10px;

}
#sheesh{
  border-radius: 15px;
  background: whitesmoke;
  font-size: 18px;
  height: 118px;
  text-align: center;

}
#eyy{
  background: black;
  width: 95%;
  height: 100px;
  margin-left: 2.5%;
  border-radius: 10px;
}
#rcorners3{
  border-radius: 20px;
  padding: 20px;
  background: #000000;
  width: 400px;
  height: 350px;
  margin: 15px;
}
#mwehee{
	border-radius: 10px;
	background: whitesmoke;
  padding: 5px;
  font-size: 15px;
}
#rcorners3, #mwehee{
  max-width: 1170px;
  margin: auto;
}

#rcorners4{
  border-radius: 20px;
  padding: 20px;
  background: #000000;
  width: 590px;
  height: 350px;
  margin: 15px;
}
#mwehe{
	border-radius: 10px;
	background: whitesmoke;
  padding: 5px;
  font-size: 15px;
}
#rcorners4, #mwehe{
  max-width: 1170px;
  margin: auto;
}

#rcorners5{
  border-radius: 20px;
  padding: 20px;
  background: #000000;
  width: 400px;
  height: 350px;
  margin: 15px;
}
#mwehehe{
  background: whitesmoke;
  display: block;
  height: 150px;
  margin-top: 0;
  text-align: center;
  font-size: 22px;
}
#mweheh{
  background: whitesmoke;
  display: block;
  height: 150px;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
#shee{
  background: linear-gradient(90deg, #747474, #000000, #747474,#000000, #747474, #000000);
  font: bold;
  letter-spacing: 2px;
  color: #000000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#rcorners5, #mwehehe, #shee, #mweheh, #shee{
  max-width: 1170px;
  margin: auto;
}
#eyyy{
	background: whitesmoke;
  border-radius: 8px;
}
#row{
  display: flex;
  flex-wrap: wrap;
}
.container{
  max-width: 1170px ;
  margin: auto;
}

.footer{
  background: #5e5e5e;
  padding: 30px 0;
}
.footer-col{
  width: 25%;
  padding: 0 30px;
  margin-left: 10px;
}

.footer-col h4{
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before{
  content: ''; 
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #c6bbbb;
  height: 2px;
  box-sizing: border-box;
  width: 40px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fffcfc;
  text-decoration: none;
  color: #afafaf;
  font-weight: 300;
  display: block;
}
.footer-col ul li a:hover{
  color: #fffcfc;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #3b3b3b;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fffcfc;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #007bff;
  background: #fffcfc;
}
.footer-col .social-links .ig a:hover{
  color: #ff5100;
  background: #fffcfc;
}
.footer-col .social-link a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #3b3b3b;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fffcfc;
  transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
  color: #ff2600;
  background: #fffcfc;
}
